<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nome - cardKing</title>
    <link rel="stylesheet" href="/style/home.css">
</head>
    <body>
        <header class="headerHome">
            <a href="/index.html">Login/Cadastro</a>
            <img src="/image/cardking.png" alt="Logo" class="logo">
        </header>
        <h1 class="tituloHome">Escolha aqui o seu card</h1>
        <Section class="cards-section">
            <div class="cardContainer">
                <div class="cards-row">
                    <div class="cards">
                        <img src="/image/imagem1.jpg" alt="Carta do Mew">
                        <p>Mew</p>
                        <p>Quantidade disponível: 10u</p>
                        <p class="valor">R$10,00</p>
                        <button>Comprar</button>
                    </div>
                    <div  class="cards">
                        <img src="/image/imagem2.jpg" alt="Carta do Genger">
                        <p>Genger</p>
                        <p>Quantidade disponível: 35u</p>
                        <p class="valor">R$12,00</p>
                        <button>Comprar</button>
                    </div>
                    <div  class="cards">
                        <img src="/image/imagem3.jpg" alt="Carta do Luffy">
                        <p>Luffy</p>
                        <p>Quantidade disponível: 37u</p>
                        <p class="valor">R$17,00</p>
                        <button>Comprar</button>
                    </div>
                </div>
                <div class="cards-row">
                    <div  class="cards">
                        <img src="/image/imagem4.jpg" alt="Carta do Blue Eyes White Dragon">
                        <p>Blue Eyes White Dragon</p>
                        <p>Quantidade disponível: 28u</p>
                        <p class="valor">R$35,00</p>
                        <button>Comprar</button>
                    </div>
                    <div  class="cards">
                        <img src="/image/imagem5.jpg" alt="Carta do Agumon">
                        <p>Agumon</p>
                        <p>Quantidade disponível: 68u</p>
                        <p class="valor">R$19,00</p>
                        <button>Comprar</button>
                    </div>
                    <div  class="cards">
                        <img src="/image/imagem6.jpg" alt="Carta do World champion">
                        <p>World champion</p>
                        <p>Quantidade disponível: 40u</p>
                        <p class="valor">R$22,00</p>
                        <button>Comprar</button>
                    </div>
                </div>
            </div>  
        </Section>
        <footer class="footerHome">
            <p>Todos os direitos reservados CardKing<span>&#174;</span></p>
        </footer>
    </body>
</html>